<div>
    <div>
        <h5>Login with Yahoo!</h5>
        <p>In order to login with Yahoo! please follow the steps below:</p>
        <ol>
            <li>Continue to the link <a href="" aria-label="Link to yahoo" target="_blank"></a>.</li>
            <li>When asked to login, validate the login request and complete.  You will provided with a <b>code</b> once your login is completed.</li>
            <li>Enter the login code in the form and click <b>Accept</b></li>
        </ol>
    </div>
    <div>
        <% form_for %>
    </div>
</div>